* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
body {
    background-color: #f3f5f7;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.box {
    background-color: white;
    width: 350px;
    height: 500px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
}
.box img {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.box h2 {
    margin-top: 20px;
    font-family: dana;
}
.box p , .box span{
    font-family: kalameh;
}
.timeline {
    margin-top:30px;
}
i {
    font-size: 30px;
    color:#DE3163;
}
input[type=range] {
    accent-color: #DE3163;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
}
.buttondiv {
    margin-top: 20px;
}
button {
    border: none;
    background-color: inherit;
    padding: 20px;
}