* {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    box-sizing: border-box;
}
body {
    background-color: beige;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.box {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 550px;
    height: 420px;
    background-color: white;
}

img {
    padding: 0;
    border-radius: 10px;
    width: 50%;
    height: 100%;
}

.texts {
    display: inline;
    margin-top: 20px;
    margin-left: 6%;
    position: absolute;
    text-align: left;
}

.pf {
    font-size: 12px;
    font-family: kalameh;
    letter-spacing: 5px;
}

.pb {
    font-size: 27px;
    font-weight: bold;
    color: black;
    width: 150px;
    padding-top: 20px;
    line-height: 1;
}

.ps {
    padding-top: 35px;
    font-size: 13px;
    font-family: kalameh;
    width: 80%;
}

.price {
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: green;
}

.lastprice {
    text-decoration-line: line-through;
    -moz-text-decoration-line: line-through;
    font-size: 15px;
    color:grey;
    margin-left: 20px;
}

button {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #2E8B57;
    border: none;
    font-family: kalameh;
    color: white;
}

i {
    padding-right: 20px;
}